<h3>Yeni ürün ekle - Reactive</h3>
<form [formGroup]="productAddForm" (ngSubmit)="add()">
  <div class="form-group">
    <input
      type="text"
      id="name"
      name="name"
      formControlName="name"
      class="form-control"
      placeholder="Ürün adı"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        productAddForm.get('name').hasError('required') &&
        productAddForm.get('name').dirty
      "
    >
      Ürün adı zorunludur
    </div>
  </div>
  <div class="form-group">
    <input
      type="text"
      id="description"
      name="description"
      formControlName="description"
      class="form-control"
      placeholder="Ürün açıklaması"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        productAddForm.get('description').hasError('required') &&
        productAddForm.get('description').dirty
      "
    >
      Ürün açıklaması zorunludur
    </div>
  </div>
  <div class="form-group">
    <input
      type="text"
      id="imageUrl"
      name="imageUrl"
      formControlName="imageUrl"
      class="form-control"
      placeholder="Ürün resmi"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        productAddForm.get('imageUrl').hasError('required') &&
        productAddForm.get('imageUrl').dirty
      "
    >
      Ürün resmi zorunludur
    </div>
  </div>
  <div class="form-group">
    <input
      type="text"
      id="price"
      name="price"
      formControlName="price"
      class="form-control"
      placeholder="Ürün fiyatı"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        productAddForm.get('price').hasError('required') &&
        productAddForm.get('price').dirty
      "
    >
      Ürün fiyatı zorunludur
    </div>
  </div>
  <div class="form-group">
    <select
      class="form-control"
      formControlName="categoryId"
      required
      id="categoryId"
      name="categoryId"
    >
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <div
      *ngIf="
      productAddForm.get('categoryId').hasError('required') &&
      productAddForm.get('categoryId').touched
    "
      class="alert alert-danger"
    >
      Kategori gereklidir
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="productAddForm.invalid"
  >
    Ürün ekle
  </button>
</form>
