<!-- <h3 *ngIf="products; else noProduct">{{ title }}</h3> -->
<app-category></app-category>
<div class="form-group">
  <input
    class="form-control"
    id="productName"
    placeholder="Arama ifadenizi giriniz"
  [(ngModel)]="filterText"
    />
  <small *ngIf="filterText" class="form-text text-muted"
    >Şu an <strong>{{filterText}}</strong>  aradınız</small
  >
</div>

<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      Bu kategoride ürün yoktur.
    </div>
  </ng-template>
  <div  *ngFor="let product of products | productFilter:filterText" class="productbox" >
    <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">
        {{ product.name }} {{ product.price | currency: "USD":true:"1.2-2" }}
      </h5>
      <p class="card-text">
        {{ product.description }}
      </p>
      <a (click)="addToCart(product)" class="btn btn-primary">Sepete ekle</a>
    </div>
  </div>
</div>
